.howitworks {
    display:flex;
    flex-direction:column;
    margin-bottom:1rem;
}

@media (min-width:414px) {
    .howitworks {
        margin-bottom:1.55rem;
    }
}

@media (min-width:800px) {
    .container {
        display:flex;
        flex-direction:row;
        gap:4.5rem;
        align-items: center;
        margin: 1.5rem 8rem;
    }
}
