.howitworks {
    display:flex;
    flex-direction:column;
}

h3 {
  color: var(--white);
  background-color: var(--pink);
  font-family: var(--primary-font);
  font-weight: var(--black-weight);
  font-size: var(--small-size);
  line-height: var(--small-lh);
  text-align: center;
  padding: 24px 0;
}

@media (min-width:800px) {
    .container {
        display:flex;
        flex-direction:row;
        gap:72px;
        align-items: center;
        margin: 24px 124px;
    }
    
    h3 {
        color:var(--pink);
        background-color: var(--white);
        font-size:var(--large-size);
        line-height:var(--x-large-lh);
    }
}
