.imgContainer {
  height: 8.8rem;
  width: 100vw;
  background-image: url("../img/bulldog.png");
  background-size: cover;
  background-position: center;
}

.details {
  height: 11.6rem;
  margin: 2rem 4.4rem;
  background-image: url("../img/dogfood.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details p {
  font-weight: var(--bold-weight);
}

.details p:nth-of-type(2) {
  align-self: flex-end;
}

.descriptiontext {
  line-height: var(--small-lh);
  text-align: center;
  margin: 1rem;
}

@media (min-width: 414px) {
  .imgdetails {
    display: flex;
  }

  .imgContainer {
    height: 15.6rem;
    width: 50%;
  }

  .details {
    width: 50%;
    margin: 2rem 0.9rem;
  }
}

@media (min-width: 800px) {
  .menucontainer {
    display: flex;
    justify-content: center;
    margin-bottom:1rem;
  }

  .imgdetails {
    width: 66%;
    margin-right: 4rem;
    margin-left: 7.25rem;
  }

  .imgContainer {
    margin-right: 4rem;
    border-radius: 8px;
  }

  .descriptioncontainer {
    width: 33%;
    display: flex;
    background-color: var(--pink);
    color: var(--white);
    align-items: center;
    border-radius: 8px;
    margin-right: 7.25rem;
  }
}

@media (min-width: 1500px) {
  .details p {
    padding: 0 15%;
  }
}
